.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 25px;
  font-weight: bold;
}
.gridContainer {
  flex: 1px 0 auto;
  padding: 80px 0;
}
.renderForm {
  display: block;
  width: 200px;
  border: 1px solid;
  border-color: #9e9a9a;
  color: #9e9a9a;
  background-color: transparent;
  font-weight: bold;
  padding: 14px 0px;
  &:hover {
    background-color: transparent;
    color: white;
    border: 1px solid;
    border-color: white;
  }
  &:active {
    background-color: transparent;
    box-shadow: none;
  }
  &:focus {
    background-color: transparent;
    box-shadow: none;
  }
}

.form {
  border: 1px solid;
  padding: 20px 0px;
  border-color: #4e4e4e;
  max-width: 100%;
}
.formName {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 80%;
  margin: 20px auto;
  text-transform: uppercase;
}
.userName {
  font-size: 30px;
  font-weight: bold;
}
.inputFlexDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.label {
  font-size: 14px;
  font-weight: bold;
}
.inputFlex {
  width: 250px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid;
  border-color: #4e4e4e;
  color: white;
}
.inputNormalDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
.input {
  width: 250px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid;
  border-color: #4e4e4e;
  color: white;
  text-transform: lowercase;
  width: 550px;
}
.formBtn {
  border-color: #ff0044;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 6px 20px;
  display: block;
  margin: 10px auto;
  &:hover {
    border-color: #4e4e4e;
    background-color: transparent;
    color: #ccc8c9;
  }
}
